.containerSignIn {
    width: 30vw;
    height: 55vh;
    background: var(--second-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittleForm {
    font-size: 3vmin;
    margin: 30px 0 0 0;
    font-weight: bold;
}

.subtittleForm {
    font-size: 1.5vmin;
    color: var(--subtitle-theme);
}

.formData {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
}

.inputForm {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    width: 60%;
}

.inputForm div {
    color: var(--subtitle-theme);
}

.resalt{
    color: var(--first-theme);
}

.containerBottoms{
    width: 60%;
    padding-top: 5vmin;
}

.containerBottoms button{
    width: 100%;
    border-radius: 8px;
    padding: 8px 0;
    border: 1px solid black;
}

.containerBottoms div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}