.headerPage {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittlePage {
    text-align: left;
    font-size: 3vmin;
    color: var(--white-theme);
    padding-top: 10px;
    font-weight: bold;
}