.itemType,
.itemTypeSelect {
    border: 1px solid var(--first-theme);
    border-radius: 15px;
    padding: 3px 12px;
    cursor: pointer;
    height: fit-content;
}

.itemTypeSelect {
    background: var(--first-theme);
}