@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #1D1F21;
  --background-start-rgb: #2c2e30;
  --second-background: #444648;
  --first-theme: #FF6600;
  --second-theme: #ff983f;
  --three-theme: #ffffa1;
  --white-theme: #F5F5F5;
  --subtitle-theme: #B0B5C0;
}

body {
  color: var(--white-theme);
  background: var(--background-rgb);
}
.resalt{
  color: var(--first-theme);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}