@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #1d1f21;
  --background-start-rgb: #2c2c2c;
  --second-background: #444648;
  --first-theme: #ff6600;
  --second-theme: #ff983f;
  --three-theme: #ffffa1;
  --white-theme: #ffffff;
  --subtitle-theme: #b0b5c0;
}

body {
  color: var(--white-theme);
  background: radial-gradient(circle, #252729 0%, #17181a 70%);
}
.important {
  color: var(--first-theme);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
