.customBottomCircle,
.customBottom {
  border: 1px solid var(--first-theme);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(255, 188, 111, 0.113) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.customBottomCircle {
  border-radius: 80px;
  margin-top: 1rem;
}
.customBottom {
  min-width: 120px;
} 
.customBottomCircle:hover,
.customBottom:hover {
  color: #f60; /* Cambia el color del texto a naranja */
  border-color: #f60; /* Cambia el borde a naranja */
  transition: all 0.3s ease;
}
